<%= form_tag problems_path, :id => "problems_search", :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "Search for a problem..." %>
  </p>
<% end %>

<div class="problems">
<%= render 'problems' %>
</div>


<script>
     $("#problems_search input").keyup(function() {
	    $.get($("#problems_search").attr("action"), $("#problems_search").serialize(), null, "script");
	    return false;
	  });
</script>

<style>
#problems_search {
	margin-bottom: 10px;

}

</style>